
.swiper {
  width: 100vh;
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.swiperSlide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallaxBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiperSlide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiperSlide .subtitle {
  font-size: 21px;
}

.swiperSlide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
